body {
    font-family: verdana, sans-serif;
    color:#707070;
}

#container {
    margin: 0 auto;
    max-width: 960px;

}

h1,h2,h3,h4,h5 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 206, 144);
}

.srch {
    color: #882E2C;
}

td {
    color: #808080;
}

tr.heading {
  color: #882E2C;
}

tr.results {
  font-size: smaller;
  color: #000000;
}

.description {
      color:  rgb(0, 206, 144);
}

.mySearch {
    margin-top:0.5%;
    border-radius: 5px;
    width:200px;
    padding:8px;
}

.search {
    color: #ce3a00;
}

.btn {
    margin-top:1%;
    font-size: 100%;
    border-radius:5px;
    width: 100px;
    padding: 8px;
    color: #fff;
    background-color: #ce3a00;
}

.btn:hover, .btn:active {
    color: #fff;
    background-color: #d17d00;
}
a {
  text-decoration: none;
  font-weight: bold;
}

a:link {
  color:  rgb(0, 206, 144);
}

a:hover {
  color: #000;
  text-decoration:underline;
}
a:visited {
  color:  rgb(0, 206, 144);
}

a:active {
  color: #000;
  text-decoration:underline;
}